@import "../base";

.sticker-scan {
  width: calc((100vw - 180px) / 4);
  height: $header-height;

  position: relative;

  &__label {
    width: 2px;
    height: 2px;
    display: block;
    position: absolute;
    fill: $accent-color;
    left: 0;
    top: 37px;
    z-index: 9999999;
    &--disabled {
      fill: $primary-color;
      opacity: 0.2;
    }
  }

  &__input {
    min-width: 100px;
    width: calc((100vw - 180px) / 4);
    margin: 5px 0;
    height: 42px;
    background-color: $foreground-color;
    border-radius: $small-radius;
    border: 0;
    box-shadow: $normal-shadow;
    font-family: $primary-font;
    caret-color: $accent-color;
    color: $accent-color;
    fill: $accent-color;
    padding: 10px 20px 10px 40px;
    position: absolute;
    font-size: 0.8em;

    &:focus {
      border: 1px solid $accent-color;
    }
  }
}
