@import "./base";

.header {
  display: flex;
  justify-content: space-between;
  background-color: $foreground-color;
  width: 100vw;
  height: $header-height;
  box-shadow: $normal-shadow;
}

.nav {
  display: flex;
  justify-content: space-between;
  background-color: $foreground-color;
  height: $header-height;

  &__link {
    margin: 0 5px;
    padding: 20px 40px 20px 20px;
    display: flex;
    align-items: center;
    font-size: 1em;
    line-height: 1.2em;
    justify-content: center;
    height: $header-height;
    border-bottom: 2px solid $foreground-color;
    text-decoration: none;
    text-transform: lowercase;
    fill: $primary-color;
    stroke: $primary-color;

    &:hover {
      color: $accent-color;
      fill: $accent-color;
      stroke: $accent-color;
    }

    &--selected {
      color: $accent-color;
      fill: $accent-color;
      stroke: $accent-color;
      border-bottom: 2px solid $accent-color;
    }
  }
}

.logo {
  margin: 0 5px;
  padding: 20px 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: $header-height;
}

.riverdi-lem-logo {
  padding-top: 10px;
  width: 180px;
}

.dashboard-icon {
  stroke: inherit;
  margin: 15px;
  width: 18px;
  height: 18px;

  &--active {
    stroke: $accent-color;
  }
}

.scanner-icon,
.instruction-icon,
.user-icon,
.logout-icon {
  fill: inherit;
  margin: 15px;
  width: 18px;
  height: 18px;

  &--active {
    fill: $accent-color;
  }
}
