@import "../../base";

.partnumber-row {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  border-bottom: 0.5px solid #6565881a;

  &__items {
    display: flex;
    width: calc(100vw - 610px);
    justify-content: flex-start;
    align-items: center;
  }

  &__item {
    width: 40%;

    &--first {
      width: 800px;
    }
  }
  &__buttons {
    display: flex;
    // width: 20%;
    justify-content: flex-start;
  }
}
